{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block main %}

<div class="container">



</div>
<div class="table-container">
<table>
    <thead>
        <tr>
            <th>Mês</th>
            <th>Promotores</th>
            <th>Neutros</th>
            <th>Detratores</th>
            <th>NPS</th>
        </tr>
    </thead>
    
    <tbody>
        {% for mes, nps in nps_por_mes.items %}
        <tr>
            
            <th>{{ meses|get_item:mes }}</th>
            <td>{{ promotores_mes|get_item:mes }}</th>
            <td>{{ neutros_mes|get_item:mes }}</th>
            <td>{{ detratores_mes|get_item:mes }}</th>
            <td>{{ nps }}</td>
           
        </tr>
        {% endfor %}
    </tbody>

</table>
<canvas id="npsChart" class="mt-5" width="900" height="300"></canvas>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const npsPorMes = JSON.parse('{{ nps_mes_json|safe }}');
    const npsPorMesGlobal = JSON.parse('{{ nps_mes_global_json|safe }}');
    const npsPorEquipaMes = JSON.parse('{{ nps_equipa_json|safe }}');
    const mediaNPS = '{{ media_nps }}'
    const labels = ["Jan","Fev","Mar","Abr","Mai","Jun","Jul","Ago","Set","Out","Nov","Dez"];
const npsData = Object.values(npsPorMes)
const npsDataGlobal = Object.values(npsPorMesGlobal)
const npsDataPorEquipas = Object.values(npsPorEquipaMes)
const mediaData = new Array(12).fill(parseFloat(mediaNPS.replace(",", ".")));

// criar grafico

const ctx = document.getElementById('npsChart').getContext('2d');
new Chart(ctx, {
    type: "bar",
    data: {
        labels: labels,
        datasets: [
            {
                label: "NPS Individual",
                data: npsData,
                backgroundColor: "rgba(54, 162, 235, 0.2)",
                borderColor: "rgba(54, 162, 235, 1)",
                borderWidth: 1,
            }  ,
            {   
                label: "NPS GLobal",
                data: npsDataGlobal,
                backgroundColor: "rgba(255, 99, 132, 0.2)",
                borderColor: "rgba(255, 99, 132, 1)",
                borderWidth: 1,
            },
            {
                label: "NPS Equipa",
                data: npsDataPorEquipas,
                backgroundColor: "rgba(75, 192, 192, 0.2)",
                borderColor: "rgba(75, 192, 192, 1)",
                borderWidth: 1,
            }

             ],
    },
    options: {
        responsive: false,
        maintainAspectRatio: false,
        scales: {
            y: {
                beginAtZero: true,
                max:100
            }
        }
    }
})
</script>


{% endblock %}