{% load static %}

<div class="text-center mt-5">
        <p class="titulo-principal"><i>Interações</i></p>
    </div>

<div class="container">

<div class="text-end mb-5">
    <form  method="get" id="form-filter-interacoes">

    <select name="utilizador" id="utilizador-select"  class="form-select-md ms-2 select-turno">
         {% for utilizador in utilizadores%}
        <option value="{{ utilizador.id }}" {% if request.GET.utilizador == utilizador.id|stringformat:"s" %}selected{% endif %}>{{ utilizador }}</option>
        {% endfor %}
    </select>

    <select name="nota" id="filtro-note" class="form-select-md ms-2 select-turno">
        <option value="0" {% if request.GET.nota == "0" %}selected{% endif %}>Todos</option>
        <option value="1" {% if request.GET.nota == "1" %}selected{% endif %}>Promotores</option>
        <option value="2" {% if request.GET.nota == "2" %}selected{% endif %}>Neutros</option>
        <option value="3" {% if request.GET.nota == "3" %}selected{% endif %}>Detratores</option>

    </select>

    <button type="button"  onclick="procurarInteracoesSelect(event)" class="btn-remove">
            <img src="{% static 'images/filter_image.svg' %}" alt=""></a>

    </button>

    </form>

</div>



<div  class="container">
    <div class="inputInteracoes text-start mt-3 mb-4">
        <input type="text" id="procurarInteracoes" name="procurarInteracoes" placeholder="Procurar Interacoes">
    </div>
    <table class="tableInteracoes">
        <thead>
            <tr>
                <th>Interação</th>
                <th>Assistente</th>
                <th>Data</th>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody>
            {% for interacao in interacoes %}
            <tr>
                <td>{{ interacao.interacao }}</td>
                <td>{{ interacao.funcionario }}</td>
                <td>{{ interacao.data }}</td>
                <td  class="
                {% if interacao.nota >= 9 %} text-success 
                {% elif interacao.nota >= 7 %} text-warning 
                {% else %} text-danger 
                {% endif %}">{{ interacao.nota }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>


</div>
