body{
    height: 100%;
    margin: 0;
}

.dados{
    display: flex;
    justify-content: center;
    overflow-y: auto;

}

.linha{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;

}
.container-iframe{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}



.iframe_main{
    width: 80%;
    height: 70vh;
    border: none;
}

.notbtn{
    cursor: not-allowed !important;
    pointer-events: none !important;
    color: black;
}