body{
    height: 100%;
    margin: 0;
    background-color: #363535 !important;
    color: white;

}
body.loading {
    cursor: wait;
    pointer-events: none; /* Impede interações enquanto carrega */
}

.titulo-principal{
    font-family: 'ITC Benguiat Std', sans-serif;
    font-size: 80px;
    color: white;
    transition: all 0.2s;
    shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}
a{
    text-decoration: none;
}



.dados{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

}

.linha{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.toogleback{
    cursor: pointer;
}

.Assistente {
    display: flex;
    justify-content: space-between;  /* Distribui as caixas ao longo da página */
    gap: 20px;  /* Espaçamento entre as caixas */
}

.box {
    width: 30%;  /* Define a largura de cada caixa para 48% do tamanho do container */
    padding: 20px;
    background-color: #636362;  /* Cor de fundo para as caixas */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinha os itens verticalmente ao centro */
    align-items: center;
}

.tempo-total{
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s;
    shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


.btn-azul{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.btn-azul:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn-amarelo{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #ffc107;
    color: #363535;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.btn-amarelo:hover {
    background-color: #e0a800;
    transform: scale(1.05);
}
.btn-vermelho{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #dc3545;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.btn-vermelho:hover {
    background-color: #bd2130;
    transform: scale(1.05);
}
.btn-roxo{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #6f42c1;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.btn-roxo:hover {
    background-color: #6f42c1;
    transform: scale(1.05);
}
.btn-verde{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.btn-verde:hover {
    background-color: #218838;
    transform: scale(1.05);
}
.btn-laranja{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #FF7F00;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #007bff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.select-turno {
    background-color: #636362!important; /* Usa a mesma cor de fundo da página */
    color: white !important; /* Herda a cor do texto do elemento pai */
    border: none; /* Remove borda */
    padding: 5px; /* Espaçamento interno */
    font-size: 1rem; /* Ajusta tamanho da fonte */
    border-radius: 5px; /* Deixa as bordas arredondadas (opcional) */
}
.select-turno:focus {
    background-color: #363535;
    outline: none;
    border: none;
    color: white;
}
.select-turno:hover {
    cursor: pointer;
}

