{% load static %}
{% for tempo in bo_iniciado %}
<p class="mt-2">Back Office iniciado: </p>

<div class="linha">
<p id="tempo-decorrido-bo" data-id="{{ tempo.id }}"
   class="tempo-decorrido-bo tempo-total"></p>


{% if not tempo.pausa %}

<a href="{% url 'pausar_bo' tempo.id 'true' %}" class="btn-pause mb-3 ms-1 p-1"
   id="btn-pause"><img src="{% static 'images/pause.svg' %}" alt="PausaAlmoço"></a>

<a href="{% url 'pausar_bo' tempo.id 'false' %}" class="btn-pause mb-3 ms1" id="btn-pause">
    <img src="{% static 'images/restaurant.svg' %}" alt="Pausa Almoço"></a>

{% else %}
<a href="{% url 'despausar_bo' tempo.id %}"
   class="btn-resume mb-3 ms-1" id="btn-resume"><img
        src="{% static 'images/play.svg' %}" alt=""></a>

{% endif %}
</div>
{% endfor %}
<form action="{% url 'finalizar_bo' %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn-vermelho mt-4" onclick="terminarBO()">
        Terminar BO
    </button>
</form>
></a>
<p class="mt-5 tempo-pausa">Tempo total de BO: <b class="tempo-total">{{ bo_total_tempo }}</b></p>

