{% load static %}

{% if request.user.usuario.ultrapassou_tempo_bo %}

<p class="mt-1 text-center">Já fizeste 2 vezes BO. O teu BO só será aprovado quando todos ja tiverem feito 2x!</p>
<p class="btn-roxo">Na fila</p>

{% elif index_bo == 0 %}

<p class="mt-1">Está quase....</p>
<p class="btn-amarelo">És o proximo </p>

{% else %}
<p>O teu BO está em fila de espera</p>
<p class="btn-roxo">Tens {{ index_bo }} a tua frente</p>

{% endif %}

<p class="mt-5 tempo-pausa">Back office utilizado: <b class="tempo-total">{{ bo_total_tempo }}</b></p>

<a href="#" onclick="cancelarBO()" class="btn-vermelho mt-4">Cancelar BO</a>