{% load static %}
<script>
            setTimeout(function () {
                notifyUser("✅ Pausa Aprovada!");
            },1000);
</script>
<div class="div m-3">
    {% if  fila_total == 0  %}
    <p>Sem fila de espera para intervalo</p>
    {% elif fila_total == 1  %}
    <p>Está {{fila_total }} pessoa em fila de espera.</p>
    {% elif fila_total > 1 %}
    <p>Estão {{fila_total }} pessoas em fila de espera.</p>
    {% endif %}
</div>

<p class="mt-2">Intervalo aprovado!</p>


<form id="intervaloForm" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn-verde mb-3">
        Iniciar Intervalo
    </button>
</form>

<p class="mt-5 tempo-pausa">Tempo total de intervalo: <b class="tempo-total">{{ total_pausa }}</b></p>
<a href="#" class="btn-vermelho mt-4" onclick="canelarIntervalo()">Cancelar Intervalo</a>