
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}?v=1.3">
    <link href="https://fonts.cdnfonts.com/css/itc-benguiat-std" rel="stylesheet">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <title>Login</title>
</head>
<body>


    <div class="container">

        <div class="text-center mt-5">
        <p class="titulo-principal"><i>Alto Valor</i></p>
        </div>


        
        <form class="login-form" method="post" action="{% url 'login' %}">

            <p class="text-center ms-2 login-title">Login</p>

            {% csrf_token %}
            <div>
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div>
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            {% if messages %}
            <div class="message message-error">
                {% for message in messages %}
                    <p class="message {{ message.tags }} ">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
        
        </div>
          
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 

    <script>
        const errorMensagem = document.querySelector('.message-error');


        if (errorMensagem) {

        errorMensagem.style.opacity = 1;

        setTimeout(function () {
            errorMensagem.style.opacity = 0;
        }, 5000);
        }

    </script>


</body>
</html>