{% load static %}
<!DOCTYPE html>
<html lang="pt-pt">

<head>
    <meta charset="UTF-8">
    {% if "/indicadores/"  not in request.path and "/darkheka/" not in request.path %}
    <meta http-equiv="refresh" content="30">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=1.2">
    <link href="https://fonts.cdnfonts.com/css/itc-benguiat-std" rel="stylesheet">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% block title %} <title>Pausas Alto Valor</title>{% endblock %}
</head>

<body>
    
   <div class="container-fluid mt-2">
    <div class="row align-items-center p-2">
        <!-- Saudação -->
        <div class="col-2 col-md-2 text-start mb-2 mb-md-0">
            Olá {{ user.usuario }}
        </div>

        <!-- Menu -->
        <div class="col-8 col-md-8 d-flex flex-wrap justify-content-center mb-2 mb-md-0 ">
            <a href="{% url 'home' %}" class="btn-menu me-2 mb-2 {% if request.resolver_match.url_name == 'home' or request.resolver_match.url_name == 'lista_intervalos' %}active{% endif %}">Pausas</a>
            <a href="{% url 'frontoffice_nps' %}" class="btn-menu me-2 mb-2 {% if request.resolver_match.url_name == 'frontoffice_nps' %}active{% endif %}">Indicadores</a>
            <a href="{% url 'pesquisar_interlocutores' %}" class="btn-menu me-2 mb-2 {% if request.resolver_match.url_name == 'pesquisar_interlocutores' %}active{% endif %}">AT's e interlocutores</a>
            <a href="{% url 'list_interacoes' %}" class="btn-menu me-2 mb-2 {% if request.resolver_match.url_name == 'list_interacoes' %}active{% endif %}">Interações</a>
            <a href="{% url 'dark_heka_list' %}" class="btn-menu me-2 mb-2 {% if request.resolver_match.url_name == 'dark_heka_list' or request.resolver_match.url_name == 'details_darkheka' %}
            or request.resolver_match.url_name == 'novo_darkheka' or request.resolver_match.url_name == 'edit_darkheka' %}active{% endif %} ">Dark Heka</a>
            {% if user.usuario.tipo.tipo == "Supervisor" %}
                <a href="{% url 'upload_view' %}" class="btn-menu me-2 mb-2 {% if request.resolver_match.url_name == 'upload_view' %}active{% endif %}">Upload</a>
            {% endif %}
        </div>

        <!-- Logout -->
        <div class="col-2 col-md-2 text-md-end text-center">
            <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                {% csrf_token %}
                <input type="submit" value="Logout">
            </form>
            <a href="#" onclick="document.getElementById('logout-form').submit();" class="btn btn-secondary">Logout</a>
        </div>
    </div>
</div>


    <div class="text-center mt-5">
        <p class="titulo-principal"><i>{% block titulo %} {% endblock %}</i></p>
    </div>

    <div class="container-main container-fluid">
        {% block main %}
        {% endblock %}
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    

    <script src="{% static 'js/geral.js' %}?v=1.2"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const imagem_grid = "{% static 'images/grid_view.svg' %}"
        const imagem_column = "{% static 'images/view_column.svg' %}"
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</body>

</html>