{% load static %}

{% for bo in bo_fila_manha %}
<div class="dados bg-secondary text-white rounded m-2" style="--bs-bg-opacity: .5;">
    <div class="linha mt-2">
        <p class="btn-azul">{{ bo.funcionario}}</p>

        <a class="mb-3" onclick="exibirPopUpconfirmacaoAutBO('{{ bo.funcionario }}')"><img
                src="{% static 'images/check.svg' %}" alt="autorizar bo"></a>
        <a class="mb-3" onclick="exibirPopUpconfirmacaoEliBO('{{ bo.funcionario }}')"><img
                src="{% static 'images/close.svg'%}" alt="remover bo"></a>
    </div>
    <div class="linha mt-0-5">
        <div>Em fila: <b>{{ bo.calcular_tempo_decorrido_entrada_fila_bo }}</b></div>
    </div>
    <div class="linha mt-0-5">
        <div>Tempo total bo: <b>{{ bo.calcular_tempo_decorrido_bo }}</b></div>
    </div>
</div>
{% endfor %}