{% load static %}

{% for pausa in pausas_fila_2 %}
<div class="dados rounded m-2 p-2" style="--bs-bg-opacity: .5;">
    <div class="d-inline-flex align-items-center text-center gap-1 p-1 mt-2">
        <p class="btn-azul-claro">{{ pausa.funcionario}}</p>

        <button type="button" class="mb-3 ms-2 btn-remove"
            onclick="exibirPopUpConfirmacaoAutPausa(event,'{{ pausa.funcionario.id }}','{{ pausa.funcionario }}')"><span
                class="material-symbols-outlined btn-span">
                check_circle
            </span></a>
            <button type="button" class="mb-3 btn-remove"
                onclick="exibirPopUpConfirmacaoEliPAusa(event,'{{ pausa.funcionario.id }}','{{ pausa.funcionario }}')"><span
                    class="material-symbols-outlined btn-span">
                    delete
                </span></button>
    </div>
    <div class="linha mt-0-5 int">
        <div>Em fila: <b>{{ pausa.calcular_tempo_decorrido_entrada_fila }}</b></div>
    </div>
    <div class="linha mt-0-5">
        <div>Tempo total pausa: <b>{{ pausa.calcular_tempo_decorrido_pausa }}</b></div>
    </div>
</div>
{% endfor %}