{% extends 'base.html' %}
{% load static %}



{% block main %}


{% if user.usuario.tipo.tipo == "Supervisor" %}

<div class="container">
    <div class="row text-center">
        <div class="col-12 col-intervalos">
            <p class="fs-3"><b>Intervalos</b></p>
            <form id="form-filter" method="GET" class="form-container align-items-center"
                action="{% url 'maximo_intervalos' %}">
                <div>
                    <label>Máximo de intervalos ({{ num_pausa_autorizados }}): </label>
                    <select name="num" id="num" aria-label="Small select example" class="ms-2">
                        {% for num in contador %}
                        <option value="{{ num }}" id="num">{{ num }}</option>

                        {% endfor %}
                    </select>


                    <button type="submit" class="btn btn-info ms-3">Alterar</button>
                </div>
            </form>
            <div class="d-flex justify-content-evenly mt-4 text-center">
                <div class="d-flex flex-column mb-3 text-center">
                    <p class="text-center"><b>Fila Pausas</b></p>
                    {% include 'core/fila_intervalos.html' %}
                </div>

                <div class="d-flex flex-column mb-3">
                    <p class="intervalos"><b>Pausas Autorizadas</b></p>
                    {% include 'core/aut_intervalos.html' %}
                </div>
            </div>


        </div>
    </div>
    <div class="row text-center mt-5">
        <div class="col col-bo-manha">
            <p class="fs-3"><b>BO Manhã</b></p>
            <form id="form-filter" method="GET" class="form-container align-items-center"
                action="{% url 'maximo_bo_autorizados' 'true' %}">
                <div>
                    <label>Máximo de BO Manha ({{ num_bo_autorizado_manha }}): </label>
                    <select name="num-bo" id="num-bo" aria-label="Small select example" class="ms-2">
                        {% for num in contador %}
                        <option value="{{ num }}">{{ num }}</option>

                        {% endfor %}
                    </select>
                    <button onclick="alterarMaximoBO('true')" type="submit" class="btn btn-info ms-3">Alterar</button>
                </div>

            </form>
            <div class="d-flex justify-content-between mt-4 text-center">
                <div class="d-flex flex-column mb-3 text-center">
                    <p><b>Fila Manhã</b></p>
                    {% include 'core/fila_manha.html' %}
                </div>
                <div class="d-flex flex-column mb-3 text-center me-4">
                    <p><b>BO Autorizados</b></p>
                    {% include 'core/aut_manha.html' %}
                </div>
               
            </div>
           



        </div>
        <div class="col col-bo-tarde">
            <p class="fs-3"><b>BO Tarde</b></p>
            <form id="form-filter" method="GET" class="form-container align-items-center"
                action="{% url 'maximo_bo_autorizados' 'false' %}">

                <div>
                    <label>Máximo de BO Tarde({{ num_bo_autorizado_tarde }}): </label>
                    <select name="num-bo" id="num-bo-tarde" aria-label="Small select example" class="ms-2">
                        {% for num in contador %}
                        <option value="{{ num }}">{{ num }}</option>

                        {% endfor %}
                    </select>
                    <button type="submit" onclick="alterarMaximoBO('false')" class="btn btn-info ms-3">Alterar
                    </button>
                </div>

            </form>
            <div class="d-flex justify-content-between mt-4 text-center">
                <div class="d-flex flex-column mb-3 text-center">
                    <p><b>Fila Tarde</b></p>
                    {% include 'core/fila_tarde.html' %}
                </div>
                <div class="d-flex flex-column mb-3 text-center me-4">
                    <p><b>BO Autorizados</b></p>
                    {% include 'core/aut_tarde.html' %}
                </div>
               
            </div>

        </div>

    </div>
</div>




</div>




{% elif user.usuario.tipo.tipo == "Assistente" %}



{% include 'pausas/lista_intervalos.html' %}





{% endif %}

<script src="{% static 'js/geral.js' %}"></script>

{% endblock %}