{% extends 'base.html' %}
{% load static %}





{% block main %}


{% if user.usuario.tipo.tipo == "Supervisor" %}

<div class="container">
    <div class="row text-center mt-5">
        <div class="col col-intervalos">
            <p class="fs-2"><b>Primeira Pausa</b></p>
            <p>Pessoas em fila de espera <b>({{ num_pausa_autorizada_1 }})</b></p>
            <form id="form-filter" method="GET" class="form-container align-items-center"
                action="{% url 'maximo_intervalos_intervalos' 'true' %}">
                <div>
                    <label>Máximo para primeira pausa ({{ num_pausa_autorizados_1 }}): </label>
                    <select name="num" id="num-1" aria-label="Small select example" class="ms-2">
                        {% for num in contador %}
                        <option value="{{ num }}">{{ num }}</option>

                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-info ms-3">Alterar</button>
                </div>

            </form>
            <div class="d-flex justify-content-between mt-4 text-center">
                <div class="d-flex flex-column mb-3 text-center">
                    <p><b>Fila Primeira Pausa</b></p>
                    {% include 'core/fila_primeira_pausa.html' %}
                </div>
                <div class="d-flex flex-column mb-3 text-center me-4">
                    <p><b>Autorizados Primeira Pausa</b></p>
                    {% include 'core/aut_primeira_pausa.html' %}
                </div>

            </div>




        </div>
        <div class="col col-intervalos">
            <p class="fs-2"><b>Segunda Pausa</b></p>
            <p>Pessoas em fila de espera <b>({{ num_pausa_autorizada_2 }})</b></p>
            <form id="form-filter" method="GET" class="form-container align-items-center"
                action="{% url 'maximo_intervalos_intervalos' 'false' %}">

                <div>
                    <label>Máximo para segunda pausa({{ num_pausa_autorizados_2 }}): </label>
                    
                    <select name="num" id="num-2" aria-label="Small select example" class="ms-2">
                        {% for num in contador %}
                        <option value="{{ num }}">{{ num }}</option>

                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-info ms-3">Alterar
                    </button>
                </div>

            </form>
            <div class="d-flex justify-content-between mt-4 text-center">
                <div class="d-flex flex-column mb-3 text-center">
                    <p><b>Fila Segunda Pausa</b></p>
                    {% include 'core/fila_segunda_pausa.html' %}
                </div>
                <div class="d-flex flex-column mb-3 text-center me-4">
                    <p><b>Autorizados Segunda Pausa</b></p>
                    {% include 'core/autorizados_segunda_pausa.html' %}
                </div>

            </div>

        </div>

    </div>




    <div class="row text-center mt-5">
        <div class="col col-bo-manha">
            <p class="fs-2 mt-4"><b>BO Manhã</b></p>
            <form id="form-filter" method="GET" class="form-container align-items-center"
                action="{% url 'maximo_bo_autorizados' 'true' %}">
                <div>
                    <label>Máximo de BO Manha ({{ num_bo_autorizado_manha }}): </label>
                    <select name="num-bo" id="num-bo" aria-label="Small select example" class="ms-2">
                        {% for num in contador %}
                        <option value="{{ num }}">{{ num }}</option>

                        {% endfor %}
                    </select>
                    <button onclick="alterarMaximoBO('true')" type="submit" class="btn btn-info ms-3">Alterar</button>
                </div>

            </form>
            <div class="d-flex justify-content-between mt-4 text-center">
                <div class="d-flex flex-column mb-3 text-center">
                    <p><b>Fila Manhã</b></p>
                    {% include 'core/fila_manha.html' %}
                </div>
                <div class="d-flex flex-column mb-3 text-center me-4">
                    <p><b>BO Autorizados</b></p>
                    {% include 'core/aut_manha.html' %}
                </div>

            </div>




        </div>
        <div class="col col-bo-tarde">
            <p class="fs-2 mt-4"><b>BO Tarde</b></p>
            <form id="form-filter" method="GET" class="form-container align-items-center"
                action="{% url 'maximo_bo_autorizados' 'false' %}">

                <div>
                    <label>Máximo de BO Tarde ({{ num_bo_autorizado_tarde }}): </label>
                    <select name="num-bo" id="num-bo-tarde" aria-label="Small select example" class="ms-2">
                        {% for num in contador %}
                        <option value="{{ num }}">{{ num }}</option>

                        {% endfor %}
                    </select>
                    <button type="submit"  class="btn btn-info ms-3">Alterar
                    </button>
                </div>

            </form>
            <div class="d-flex justify-content-between mt-4 text-center">
                <div class="d-flex flex-column mb-3 text-center">
                    <p><b>Fila Tarde</b></p>
                    {% include 'core/fila_tarde.html' %}
                </div>
                <div class="d-flex flex-column mb-3 text-center me-4">
                    <p><b>BO Autorizados</b></p>
                    {% include 'core/aut_tarde.html' %}
                </div>

            </div>

        </div>

    </div>
</div>




</div>




{% elif user.usuario.tipo.tipo == "Assistente" %}



{% include 'pausas/lista_intervalos.html' %}





{% endif %}

<script src="{% static 'js/geral.js' %}?v=1.2"></script>

{% endblock %}