{% extends 'base.html' %}
{% load static %}



{% block main %}


{% if user.usuario.tipo.tipo == "Supervisor" %}

<div class="container">
    <div class="row text-center">
        <div class="col">
            <form id="form-filter" method="GET" class="form-container align-items-center"
                action="{% url 'maximo_intervalos' %}">
                <div>
                    <label>Máximo de intervalos ({{ num_pausa_autorizados }}): </label>
                    <select name="num" id="num" aria-label="Small select example" onchange="salvarVAlorSelecionado()"
                        class="ms-2">
                        {% for num in contador %}
                        <option value="{{ num }}" id="num">{{ num }}</option>

                        {% endfor %}
                    </select>


                    <button type="submit" class="btn btn-info ms-3">Alterar</button>
                </div>


            </form>
        </div>
        <div class="col">
            <form id="form-filter" method="GET" class="form-container align-items-center"
                action="{% url 'maximo_bo_autorizados' %}">
                <div>
                    <label>Máximo de BO ({{ num_bo_autorizado }}): </label>
                    <select name="num-bo" id="num-bo" aria-label="Small select example"
                        onchange="salvarVAlorSelecionadoBO()" class="ms-2">
                        {% for num in contador %}
                        <option value="{{ num }}" id="num-bo">{{ num }}</option>

                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-info ms-3">Alterar</button>
                </div>

            </form>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <p class="text-center m-3 mb-3 fs-5 mt-4"><b>Fila pausas</b></p>
                        {% for pausa in intervalos_fila %}
                        <div class="dados bg-secondary text-white rounded m-2" style="--bs-bg-opacity: .5;">
                            <div class="linha mt-2">
                                <p class="btn btn-primary">{{ pausa.funcionario}}</p>

                                <a class="mb-3"  onclick="exibirPopUpConfirmacaoAutPausa('{{ pausa.funcionario }}')"><img
                                        src="{% static 'images/check.svg' %}" alt="autorizar pausa"></a>
                                <a class="mb-3" onclick="exibirPopUpConfirmacaoEliPAusa('{{ pausa.funcionario }}')"><img
                                        src="{% static 'images/close.svg'%}" alt="remover pausa"></a>
                            </div>
                            <div class="linha mt-0-5">
                                <div>Em fila: <b>{{ pausa.calcular_tempo_decorrido_entrada_fila }}</b></div>
                            </div>
                            <div class="linha mt-0-5">
                                <div>Tempo total pausa: <b>{{ pausa.calcular_tempo_decorrido_pausa }}</b></div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col">
                        <p class="text-center m-3 fs-5 mt-4"><b>Pausas Autorizadas</b></p>
                        {% for intervalo in pausa_autorizada %}
                        <div class="dados bg-secondary text-white rounded m-2" style="--bs-bg-opacity: .5;">
                            <div class="linha mt-2">
                                {% if intervalo.inicio is None %}
                                <p class="btn btn-primary">{{ intervalo.funcionario}}</p>

                                <a class="mb-3" onclick="exibirPopUpConfirmacaoEliPAusa('{{ intervalo.funcionario }}')" ><img
                                        src="{% static 'images/close.svg' %}" alt="remover BO"></a>
                                {% else %}
                                <p class="btn btn-success">
                                    {{ intervalo.funcionario}}
                                </p>
                                <a class="mb-3" onclick="exibirPopUpConfirmacaoEliPAusa('{{ intervalo.funcionario }}')"><img
                                    src="{% static 'images/close.svg' %}" alt="remover BO"></a>
                                {% endif %}

                            </div>
                            {% if intervalo.inicio is None %}
                            <div class="linha mt-0-5">
                            <div>Pausa aceite: <b>{{intervalo.calcular_tempo_desde_aprovacao }}</b></div>

                            </div>
                            {% else %}

                            {% endif %}

                            {% if intervalo.inicio %}
                            <div class="linha mt-0-5 p-0">
                                <div><p>Iniciado a: <span id="tempo-decorrido-pausa'" data-id="{{ intervalo.id }}" class="tempo-decorrido-pausa"></span></p>
                            </div>

                            </div>
                            {% endif %}
                            <div class="linha mt-0-5">
                                <div>Total pausa: <b>{{ intervalo.calcular_tempo_decorrido_pausa  }}</b></div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>

        </div>

        <div class="col">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <p class="text-center m-3 mb-3 fs-5 mt-4"><b>Fila BO</b></p>
                            {% for bo in bo_fila %}
                            <div class="dados bg-secondary text-white rounded m-2" style="--bs-bg-opacity: .5;">
                                <div class="linha mt-2">
                                    <p class="btn btn-primary">{{ bo.funcionario}}</p>

                                    <a class="mb-3"  onclick="exibirPopUpconfirmacaoAutBO('{{ bo.funcionario }}')"><img
                                            src="{% static 'images/check.svg' %}" alt="autorizar bo"></a>
                                    <a class="mb-3" onclick="exibirPopUpconfirmacaoEliBO('{{ bo.funcionario }}')"><img
                                            src="{% static 'images/close.svg'%}" alt="remover bo"></a>
                                </div>
                                <div class="linha mt-0-5">
                                    <div>Em fila: <b>{{ bo.calcular_tempo_decorrido_entrada_fila_bo }}</b></div>
                                </div>
                                <div class="linha mt-0-5">
                                    <div>Tempo total bo: <b>{{ bo.calcular_tempo_decorrido_bo }}</b></div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col">
                            <p class="text-center m-3 fs-5 mt-4"><b>BO Autorizado</b></p>
                            {% for bo in bo_autorizado %}
                            <div class="dados bg-secondary text-white rounded m-2" style="--bs-bg-opacity: .5;">
                                <div class="linha mt-2">
                                    {% if bo.inicio is None and not bo.pausa %}
                                    <p class="btn btn-primary">{{ bo.funcionario}}</p>
                                    <a class="mb-3" onclick="exibirPopUpconfirmacaoInicioBO('{{ bo.funcionario }}')"><img
                                        src="{% static 'images/check.svg' %}" alt="autorizar BO"></a>

                                    <a class="mb-3" onclick="exibirPopUpconfirmacaoEliBO('{{ bo.funcionario }}')"><img
                                            src="{% static 'images/close.svg' %}" alt="remover BO"></a>
                                    {% elif bo.inicio and not bo.pausa %}
                                    <p class="btn btn-success">
                                        {{ bo.funcionario}}
                                    </p>
                                    <a onclick="exibirPopUpconfirmacaoPausarBO('{{ bo.id }}','{{bo.funcionario}}', 'true')"><img src="{% static 'images/pause.svg' %}" alt="Pausar BO" class="ms-1"></a>

                                    <a onclick="exibirPopUpconfirmacaoPausarBO('{{ bo.id }}','{{bo.funcionario}}', 'false')">
                                        <img src="{% static 'images/restaurant.svg' %}" alt="Almoço BO" class="ms-1">
                                    </a>

                                    <a onclick="exibirPopUpconfirmacaoEliBO('{{ bo.funcionario }}')"><img
                                        src="{% static 'images/close.svg' %}" alt="remover BO" ></a>
                                    {% elif bo.pausa and not bo.almoco %}
                                    <p class="btn btn-warning">{{ bo.funcionario}} </p>
                                    <a onclick="exibirPopUpconfirmacaoRetomarBO('{{ bo.id }}','{{ bo.funcionario }}')"><img src="{% static 'images/play.svg' %}" alt="Retomar BO BO" class="ms-1"></a>
                                    <a onclick="exibirPopUpconfirmacaoEliBO('{{ bo.funcionario }}')"><img
                                        src="{% static 'images/close.svg' %}" alt="remover BO"></a>

                                    {% elif bo.pausa and bo.almoco %}
                                    <p class="btn-laranja">{{ bo.funcionario }} <img src="{% static 'images/lunch.svg' %}" alt="almoço" class="ms-1"></p>
                                    <a onclick="exibirPopUpconfirmacaoRetomarBO('{{ bo.id }}','{{ bo.funcionario }}')"><img src="{% static 'images/play.svg' %}" alt="Retomar BO BO" class="ms-1"></a>
                                    <a onclick="exibirPopUpconfirmacaoEliBO('{{ bo.funcionario }}')"><img
                                        src="{% static 'images/close.svg' %}" alt="remover BO"></a>


                                    {% endif %}

                                </div>
                                {% if bo.inicio is None %}
                                <div class="linha mt-0-5">
                                <div>BO aceite: <b>{{bo.calcular_tempo_decorrido_aprovacao }}</b></div>

                                </div>
                                {% elif bo.inicio and bo.pausa is False %}
                                <div class="linha mt-0-5">
                                    <div><p>Iniciado a: <span id="tempo-decorrido-bo" data-id="{{ bo.id }}" class="tempo-decorrido-bo"></span></p>
                                        </div>
                                    </div>

                                {% elif bo.pausa %}
                                <div class="linha mt-1">
                                    <div><p>Tempo até pausar: <span id="tempo-decorrido-bo" data-id="{{ bo.id }}" class="tempo-decorrido-bo"></span></p>
                                        </div>
                                    </div>


                                {% endif %}
                                <div class="linha">
                                    <div>Total BO: <b>{{ bo.calcular_tempo_decorrido_bo  }}</b></div>
                                </div>

                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>

            </div>
        </div>



    </div>


</div>




{% elif user.usuario.tipo.tipo == "Assistente" %}

{% include 'pausas/lista_intervalos.html' %}

{% endif %}

<script src="{% static 'js/geral.js' %}"></script>
{% endblock %}