
:root {
    --bg-color: #0F172A;
    --text-color: #F1F5F9;
    --table-bg: #1E293B;
    --table-border: #334155;
    --link-color: #60A5FA;
    --btn-bg: #2563EB;
    --btn-hover-bg: #1D4ED8;
    --btn-text: #FFFFFF;
    --table-bg: #1E293B;
}

html,body{
    height: 100%;
    margin: 0;
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;

}
.titulo-principal{
    font-family: 'ITC Benguiat Std', sans-serif;
    font-size: 80px;
    color: var(--te);
    transition: all 0.2s;
    shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: var(--table-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    color: var(--text-color)!important;
}

.login-form h2 {
    text-align: start;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: var(--btn-hover-bg);
}
.login-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(45deg, #FFFFFF, #F1F5F9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.message-error{
    opacity: 0;
    color: red;
    transition: opacity 0.5s ease-in-out;
}

