body{
    height: 100%;
    margin: 0;
    background-color: #363535;
    color: white;
}


.titulo-principal{
    font-family: 'ITC Benguiat Std', sans-serif;
    font-size: 80px;
    color: deepskyblue;
    transition: all 0.2s;
}



.dados{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

}

.linha{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    text-align: center; 
    

}

.toogleback{
    cursor: pointer;
}