{% load static %}
{% for tempo in bo_iniciado %}
<p class="mt-2">Back Office iniciado: </p>

<div class="d-inline-flex align-items-center text-center gap-1">
    <p id="tempo-decorrido-bo" data-id="{{ tempo.id }}" class="tempo-decorrido-bo  tempo-total p-1"></p>


    {% if not tempo.pausa %}


    <button type="button" class="btn-pause mb-3 ms-1 p-1 btn-remove" onclick="pausarBo(event, '{{tempo.id}}', 'true')">
        <span class="material-symbols-outlined btn-span">
            pause_circle
        </span>
    </button>



    <button type="button" class="btn-pause mb-3 ms1 btn-remove" onclick="pausarBo(event, '{{tempo.id}}', 'false')">
        <span class="material-symbols-outlined btn-span">
            lunch_dining
        </span>
    </button>

    {% else %}

    <button type="button" class="btn-resume mb-3 ms-1 btn-remove" onclick="retomarBo(event, '{{tempo.id}}')"><span
            class="material-symbols-outlined btn-span">
            play_circle
        </span></button>

    {% endif %}
</div>
{% endfor %}


<button type="button" class="btn-vermelho mt-4" onclick="terminarBO(event)">
    Terminar BO
</button>

<p class="mt-5 tempo-pausa">Tempo total de BO: <b class="tempo-total">{{ bo_total_tempo }}</b></p>